.container.bg-light {
    background: purple;
    color: white;
}

td{
    height: 150px;
    width: 150px;
    border: 5px solid red;
    text-align: center;
    font-size: 90px;
    
}
